*,
*::before,
*::after,
:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin-bottom: 60px;
    background: #F2F2F2;
    box-sizing: border-box;
    overflow-x: hidden;
    margin-top: 45px;   
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    background: #3F4041;
    position:fixed;
    width:100%;
    height:45px;
    align-items:center;
    z-index:9;
    top:0;
}


.navbar .options{
    display:flex;
    gap: 20px;
    font-size:14px;
    color:#fff;
}

    .navbar button {
        color: #fff;
        background-color: #F25B0A;
        border:none;
        padding:5px 15px;
        border-radius:5px;
        height:30px;
        cursor: pointer;
    }

    .navbar svg{
        height:30px;
    }

.footer {
    background-color: #3F4041;
    padding: 40px 80px 20px 80px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    height: 180px;
    color: #fff;
    font-size:14px;
    width: 100%;
}

.footer .first_half, .footer .second_half{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer .second_half{
    align-items: flex-end;
}
    .footer .link {
        color: #F25B0A;
        margin-bottom: 5px;
        text-decoration: underline;
    }


.footer .title {
    color: #F25B0A;
}



.container_limit{
    max-width: 1500px;
    margin: auto;
    padding: 0 100px;
    margin-top: 70px;
}


/*-------- PÁGINA HOME ---------*/

.banner {
    background-color: #3F4041;
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    height: 440px;
}

.container_banner {
    width: 1400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    padding: 0 65px 0 65px;
}

.banner .text{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content:center;
}

.banner .text .name img {
    width: 300px;
}

    .banner .text .description {
        margin-top:40px;
        color: #FFF;
        font-size: 16px;
        width: 250px;
        font-weight: 100;
        word-wrap: break-word;
        text-align: justify;
        line-height: 25px;
        margin-left: 35px;
    }

    .banner svg{
        width: 500px;
        margin-top:-80px;
        display: block;
        margin-right: -20px;
    }


.title {
    color: #3F4041;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
}

.card_find {
    margin: 100px 0px;
    background-color: #fff;
    border-radius: 15px;
    width: auto;
    height: 400px;
    box-shadow: -7px 13px 10px 0px rgba(0, 0, 0, 0.1);
    display:grid;
    grid-template-columns:50% 50%;
    gap:50px;
}

.info{
    height:500px;
    margin:100px 0 100px 100px;
}

.info .title{
    font-weight: 300;
    font-size:18px;
}

.info .title strong{
    font-size: 25px;
}

.custom-select {
    margin-top:30px;
    width:350px;
    position: relative;
    font-family: Arial, sans-serif;
    border: 1px solid #ccc;
    border-radius: 6px;
    overflow: hidden;
    background-color: #fff;
}

    .custom-select select {
        border-radius:6px;
        padding: 15px;
        width: 300px;
        border: none;
        background: transparent;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        cursor: pointer;
    }

    .custom-select::after {
        content: "\25BC";
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        pointer-events: none;
    }

    .custom-select:hover, .custom-select:focus {
        border-color: #333;
    }

    .custom-select select option {
        padding: 10px;
    }

    .card_find .image{
        margin-top:20px;
        display: flex;
        justify-content:center;

    }

    .card_find .image img{
        width:auto; 
        max-height: 440px;
        margin-right:40px;

    }

.card_prop {
    background-color: #3f4042;
    background-image: url(/src/banner.jpg);
    background-position: initial;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 380px;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    justify-content:center;
    padding:130px;
}

.card_prop .text{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-right: 10%;
}
    .card_prop .text .title{
        color:#f2f2f2;
        font-size:25px;
        text-transform: uppercase
    }

    .card_prop .text .description {
        color: #fff;
        font-size:18px;
        text-align: center;
        margin-top: 20px;
        margin-bottom:50px;
    }

    .card_prop .text button, .card_vouncher .text button {
        color: #fff;
        font-size: 16px;
        padding: 10px 30px;
        border: none;
        background-color: #F25B0A;
        border-radius: 5px;
        cursor: pointer;
    }

.card_vouncher {
    background-image: url(/src/prop.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:bottom;
    height: 300px;
    margin: 50px 0px;
    border-radius: 25px;
    box-shadow: -7px 13px 10px 0px rgba(0, 0, 0, 0.1);  
    display:flex
}

.card_vouncher .text{
    margin-left:14%;
    font-size:18px;
    display:flex;
    flex-direction:column;
    justify-content: center;
}

    .card_vouncher .text button {
        margin-top:30px;
    }

    .space{
        display:flex;
        justify-content:space-between;
        margin: 50px 10px 0px 10px;
        margin-bottom: 100px;
    }

    .img{
        width:200px;
        height: 200px;
        background-size:cover;
        border-radius: 25px;
    }
    .img.one{
        background-image:url(/src/prop1.png);
    }

    .img.two {
        background-image: url(/src/prop2.png);
    }

        .img.tree {
            background-image: url(/src/prop3.png);
        }

        .img.four {
            background-image: url(/src/prop4.png);
        }

    /*-------- PÁGINA DE DELIVERY ----------*/

    .propaganda{
        width: 100vw;
        height: 450px;
        background-image: url("/src/propaganda_comida.png");
        background-position: center;
        background-size:cover;
        
    }

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 320px));
    gap: 50px;
    margin-top: 50px;
    margin-bottom:80px;
    justify-content: center;
}

.card {
    background: #fff;
    border-radius: 15px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    max-width: 320px;
    overflow: hidden;
    filter: drop-shadow(-7px 13px 10px rgba(0, 0, 0, 0.10));
}

    .img_card{
        height: 150px;
        display: flex; 
        flex-direction: column;
        align-items: center; 
        justify-content: center;
    }
    .img_card, .img_card img{
        max-width: 100%;
        margin:auto;
    }

    .card .title{
        font-size: 18px;
    }

.card .desc {
    color: #3F4041;
    text-align: justify;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
}

.flex{
    display:flex;
    align-items:center;
    justify-content: space-between;
    margin-top: 20px;
}

.card .valor {
    color: #3F4041;
    text-align: justify;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.card .button {
    border-radius: 10px;
    background: #F25B0A;
    padding: 10px 20px;
    color: #FFF;
    text-align: justify;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}

.center {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    color: #3F4041;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.topo{
    display: flex;
    justify-content: center;
    width:100%;
}


.search-wrapper {
    border-radius: 8px;
    background-color: #d3d3d3;
    padding-right: 12px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 480px;
    box-shadow: 0 2px 6px 0 rgba(136, 148, 171, 0.2), 0 24px 20px -24px rgba(71, 82, 107, 0.1);
    overflow: hidden;
}

.dark .search-wrapper {
    box-shadow: none;
}

.search-input {
    border: none;
    flex: 1;
    outline: none;
    height: 100%;
    padding: 0 20px;
    font-size: 16px;
    background-color: #d3d3d3;
}

    .search-input:placeholder {
        opacity: 0.6;
    }


/*-------- PÁGINA MINHA CESTA ----------*/

.grid{
    display:grid;
    grid-template-columns: 65% auto;
    gap: 70px;
    margin-top: 40px;
}

.lista_produtos{
    display: flex;
    flex-direction: column;
}

.produto {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 20px 10px;
    height: auto;
    border-bottom: 1px solid #ccc;
}
 .produto:last-child{
    border-bottom: none;
}

.produto .flex{
    margin:0;
    gap: 20px;
}

.produto .produtoImg, .produtoImg img{
    width:140px;
}

.info_produto .title{
    margin-bottom: 10px;
    font-size:18px;
    width: 140px;
}

.info_produto .obs {
    color: #565757;
    font-size:16px;
}

.qtde {
    font-size: 18px;
    color: #3F4041;
    letter-spacing: 2px;
    display:flex;
    align-items:center;
}

.qtde button{
    cursor:pointer;
    font-size:14px;
    border:none;
    padding:10px 15px;
    color:#3F4041;
}

.valor {
    color: #3F4041;
    text-align: justify;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display:flex;
}

.circle {
    background-color: #FF6060;
    width:30px;
    height: 30px;
    border-radius: 100%;
    display:flex;
    align-items:center;
    justify-content:center;
    margin:0px;
    color: #fff;
    font-size:12px;
    cursor: pointer;
}

.resumo {
    border-radius: 10px;
    background: #FFF;
    box-shadow: -7px 13px 10px 0px rgba(0, 0, 0, 0.10);
    padding: 20px
}

    .resumo input {
        display: block;
        width: 100%;
        font-size: 14px;
        border-radius: 8px;
        height: 100%;
        background: #F2F2F2;
        padding-left: 15px;
        padding-right: 15px;
        border: none;
        margin-top: 0px;
        height: 35px;
    }

 .endereco{
     display:flex;
     flex-direction:column;
     gap:10px;  
 }

 #frete, #cupom{
     display: flex;
     margin:5px 0 10px 0;
     transition: all ease-in-out .2s;
     height:0px;
     display:none;
 }

    #frete button, #cupom button {
        font-size: 0px;
        border: none;
        background-color: transparent;
        color: #5cac36;
        height: 100%;
        margin-left: 10px;
        transition: all ease-in-out .2s;
        cursor:pointer;
    }

#button_frete {
    align-items: flex-start;
    font-size: 25px;
    justify-content: flex-start;
    display: flex;
}

.dados_compra .title{
    font-weight: 500;
    padding-bottom: 10px;
    font-size:18px;
}

 .frete, .valores, .resumo .lista_produtos{
    border-top: 1px solid #ccc;
    padding: 15px 0;
}

.frete {
    display: flex;
    align-items:center;
    justify-content: space-between;
    color: #3F4041;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.frete .fa-chevron-down{
    font-size:15px;
    transition: all ease-in-out .2s;
    cursor: pointer;
}

#result_frete{
    display:flex;
    justify-content:space-between;
    align-items: center;
    margin: 10px 0;
    transition: all ease-in-out .2s; 
    transform: scaleY(0);
    display:none;
}

#desconto_concedido{
    display:none;
    transform:scaleY(1);
}

.valores, .resumo .lista_produtos {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.valores div, .resumo .lista_produtos div, .valores .line {
    display: flex;
    justify-content: space-between;
    color: #3F4041;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.grid div:last-child .button {
    margin-top: 20px;
    border-radius: 8px;
    background: #F25B0A;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border:none;
}

button:disabled {
    background-color: #5d5a5a !important;
    cursor:inherit !important;
}

.cabecalho {
    display: grid;
    grid-template-columns: 55% 20% 30%;
    color: #3F4041;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 10px;
}

/*------Tela de pedidos------*/

.card_pedido {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: -7px 13px 10px 0px rgba(0, 0, 0, 0.10);
    margin-top:30px;
}

.card_pedido div{
    display: flex;
    flex-direction: column;
}

    .card_pedido div .title {
        color: #3F4041;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 5px;
    }

.card_pedido div .info, .status{
    margin: 0;
    height: auto;
    font-weight: 300;
    font-size: 15px;
}

    .card_pedido .info_small {
        font-size: 14px;
        max-width: 200px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width:200px;
    }

.Andamento {
    color: #F25B0A;
}

.Entregue {
    color: #287C00;
}

.Cancelado {
    color: #F20A0A;
}

.card_pedido .fa-chevron-right {
    color: #F25B0A;
    font-size: 20px;
}

/*------STEP ACOMPANHA PEDIDO-------*/
.acompanha .card{
    margin-top: 20px;
    max-width: 100%;
    padding:0;
}
.title_acompanha {
    color: #3F4041;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    border-bottom: 1px solid #ccc;
    padding:20px 0 10px 20px;
}

textarea {
    display: block;
    width: 90%;
    font-size: 16px;
    border-radius: 8px;
    height: 100%;
    background: #F2F2F2;
    padding:10px;
    border: none;
}

.estrelas input[type=radio] {
    display: none;
}

.estrelas{
    gap:15px !important;
}
.estrelas label {
    font-size: 20px;
}

    .estrelas label {
        color: #FFD600;
    }

.estrelas input[type=radio]:checked ~ label {
    color: #CCC;
}


@-webkit-keyframes bounce {
    0% {
        transform: scale(1);
    }

    33% {
        transform: scale(0.9);
    }

    66% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }

    33% {
        transform: scale(0.9);
    }

    66% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}


.steps {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 30px 0 70px 0;
    list-style: none;
}

.step {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    position: relative;
    pointer-events: none;
}

.step--active, .step--complete, .step--active-half {
    cursor: pointer;
    pointer-events: all;
}

.step:not(:last-child):before, .step:not(:last-child):after {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 0.25rem;
    content: "";
    transform: translateY(-50%);
    will-change: width;
    z-index: -1;
}

.step:before {
    width: 100%;
    background-color: #d2d2d2;
}

.step:after {
    width: 0;
    background-color: #F25B0A;
}

.step--complete:after {
    width: 100% !important;
    opacity: 1;
    transition: width 0.6s ease-in-out, opacity 0.6s ease-in-out;
}

.step--half:after {
    width: 50% !important;
    opacity: 1;
    transition: width 0.6s ease-in-out, opacity 0.6s ease-in-out;
}

.step__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 0.25rem solid #d2d2d2;
    color:#a6a6a6;
    border-radius: 50%;
    font-size: 0px;
}

    .step--complete .step__icon:before {
        display: block;
        color: #fff;
        content: "✓";
        font-size: 14px;
    }

    .step--incomplete .step__icon{
        font-size:14px;
    }
.step--complete.step--active .step__icon {
    color: #fff;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.step--incomplete.step--active .step__icon {
    border-color: #F25B0A;
    transition-delay: 0.5s;
}

.step--complete .step__icon {
    -webkit-animation: bounce 0.5s ease-in-out;
    animation: bounce 0.5s ease-in-out;
    background-color: #F25B0A;
    border-color: #F25B0A;
    color: #fff;
}

.step__label {
    position: absolute;
    bottom: -2rem;
    left: 50%;
    margin-top: 1rem;
    font-size: 0.8rem;
    text-transform: uppercase;
    transform: translateX(-50%);
}

.step--incomplete.step--inactive .step__label {
    color: #3F4041;
}

.step--incomplete.step--active .step__label {
    color: #F25B0A;
}

.step--active .step__label {
    transition: color 0.3s ease-in-out;
    transition-delay: 0.5s;
}

.empty{
    display: none;
    transform: scale(0);
    transition: all 0.3s ease-in-out;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

.empty .desc{
    margin-top:10px;
}

.empty img{
    height: 50vh;
    margin:20px 0 50px 0;
}

    .empty .button {
        border-radius: 10px;
        background: #F25B0A;
        padding: 10px 20px;
        color: #FFF;
        text-align: justify;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        cursor: pointer;
    }

    
    /*------PERFIL-------*/

.card_dividido {
    overflow: hidden;
    position: relative;
    width: 900px;
    height: auto;
    min-height: 400px;
    transition: .5s all ease-in-out;
    margin: 0 auto 100px;
    background: #fff;
    border-radius: 10px;
    margin-top: 100px;
    display: grid;
    grid-template-columns: 50% 50%;
}

#edit_profile {
    display: none;
    transform: scale(0);
}

#profile {
   
}

.div_content {
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.group_buttons {
    margin-top: 30px;
    background: linear-gradient(0deg, #F7DFBC 0%, #F7DFBC 100%), #FCFDF7;
    border-radius: 10px;
    cursor: pointer;
}

.button_option {
    border-bottom: 1px solid #F25B0A;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    padding: 14px;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #3F4041;
}

.button_option div{
    display: flex;
    flex-direction: row;
    align-items:center;
    font-size: 15px;
}

.button_option p{
    margin-left: 10px;
}

    .button_option .fa-chevron-right {
        color: #F25B0A;
        align-items:flex-end;

    }
.button_option:last-child{
    border-bottom: none;
}

.div_image{
    background-image:url(../src/login2.png);
    background-size:cover;
}

.card_dividido .header{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

.button_back {
    height: 30px;
    width: 30px;
    background-color: #D9D9D9;
    border-radius:5px;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:center;
    cursor:pointer;
}


form, .form{
    display:flex;
    flex-direction: column;
    align-items: center;
}

input {
    display: block;
    width: 100%;
    font-size: 16px;
    border-radius: 8px;
    height: 40px;
    background: #F2F2F2;
    padding-left: 15px;
    margin-top: 20px;
    border: none;
}
.invalido{
    border: 2px solid #d32222;
}

.input_invalido{
    display: flex;
    flex-direction: column;
    width:100%;
}

.text_invalido{
    color:#d32222;
    font-size:12px;
    font-weight:600;
    margin-top:5px;
    display:none;
}

.card_dividido .button {
    color: #fff;
    background-color: #F25B0A;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    height: 40px;
    cursor: pointer;
    width: 200px;
    margin-top: 20px;
}

/*------FORMAS DE PAGAMENTO--------*/

#pagamento .group_buttons{
    background:#ebebeb;
}

#content_cartao, #content_pix{
    padding: 50px;
}

#content_cartao .flex{
    gap:10px;
    margin: 0;
}

#content_pix{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}


.qrcode {
    padding: 10px;
    border-radius: 8px;
    background-color: #ebebeb;
    height: auto;
    margin: 30px 0;
}

.qrcode svg{
    width:170px;
    height: 170px;
}

.title_thin {
    color: #3F4041;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

#content_cartao, #content_pix {
    display: none;
    transform: scale(0);
    transition: all ease-in-out .2s;
}

#content_image{
    transition: all ease-in-out .2s;
}

#content_image img{
    height: 450px;
}

/*############ POP UP ################*/
.fundo {
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    position: fixed;
    top: 0;
    z-index: 999;
    display: none;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    transition:all ease-in-out .2s;
}

.popup {
    border-radius: 15px;
    background: #FFF;
    box-shadow: -7px 13px 10px 0px rgba(0, 0, 0, 0.10);
    max-width: 500px;
    transition: all ease-in-out .2s;
    transform:scale(0);
}

    .popup .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding: 10px 30px 30px 30px;
    }

    .popup .text {
        color: #3F4041;
        text-align: center;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .popup img{
        height: 150px;
    }

    .popup .content div {
        display: flex;
        gap: 10px;
        align-items: center;
    }

        .popup .content div div {
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: flex-start;
            color: #3F4041;
            font-family: Roboto;
            font-size: 15px;
            font-style: normal;
            line-height: normal;
        }

        .popup .content .grid_button{
           gap:15px;
        }

        .popup .title{
            font-size:20px;
        }

            .popup div button {
                color: #fff;
                background-color: #F25B0A;
                border: none;
                padding: 5px 15px;
                border-radius: 5px;
                height: 40px;
                cursor: pointer;
                width:100%;
                width:120px;
            }

            .popup .button_close{
                display: flex;
                justify-content:flex-end;
                width: 100%;
                padding: 20px 20px 0 0 ;
            }

    .popup .button_voltar {
        background-color: #D9D9D9;
        color: #121212;
    }

    .valores .line, .popup div .produto {
        display: flex;
        flex-direction: row !important;
        justify-content: space-between !important;
        width: 100%;
        color: #3F4041;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 400 !important;
        line-height: normal;
    }

.popup .primeira_metade{
    gap:0px;
}
.popup .produto img{
    height:50px !important;
}