
@{
    ViewData["Title"] = "Delivery";
}


<script src="~/js/produto.js" asp-append-version="true"></script>

<div class="propaganda">
</div>
<div class="container_limit">
<div class="scroller">
    <div class="title">Promoções</div>
    <div class="space">
        <div class="img one"></div>
        <div class="img two"></div>
        <div class="img tree"></div>
        <div class="img four"></div>
    </div>
</div>

<div class="scroller">
    <div class="title">Faça seu pedido</div>
    <div class="cards" id="cards">
         
    </div>
    <!--<div class="center">
            <div class="text" onclick="window.location.href='@Url.Action("Produtos", "Delivery")'" style="cursor:pointer">Ver mais +</div>
    </div>-->
</div>
</div>

<div class="fundo" id="fundo_Add_Pedido">
    <div class="popup" id="popup_Add_Pedido">
         <div class="content">
            <div class="title" style="margin-top:20px">Adicionar ao carrinho</div>
            <div class="text">
                Deseja adicionar este produto ao seu carrinho?
            </div>
            <div class="grid_button">
                <button onclick="close_popup('fundo_Add_Pedido','popup_Add_Pedido')" class="button_voltar">Voltar</button>
                <button onclick="addProdutoCesta()">Adicionar</button>
            </div> 
        </div>
    </div>
</div>