@{
    ViewData["Title"] = "Login Page";
}
<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />

<script src="~/js/login.js" asp-append-version="true"></script>

<div class="cont">

    <div class="form sign-in">
        <h2>Login</h2>
        <div class="desc">Entre com sua conta existente</div>

        <input type="email" placeholder="E-mail" id="emailLogin" />
        <input type="password" placeholder="Senha" id="senhaLogin" />
        <p class="forgot-pass">Esqueceu a senha?</p>
        <button type="button" class="submit" onclick="login()">Login</button>
    </div>
    <div class="sub-cont">
        <div class="img">
            <div class="img__text m--up">
                <h2 style="color:#fff">Novo aqui?</h2>
                <p>
                    Cadastre-se e descubra muitas novas oportunidades!
                </p>
            </div>
            <div class="img__text m--in">
                <h2 style="color:#fff">Um de nós?</h2>
                <p>
                    Se você já possui uma conta, basta fazer login. Sentimos sua falta!
                </p>
            </div>
            <div class="img__btn">
                <span class="m--up">Cadastrar</span>
                <span class="m--in">Login</span>
            </div>
        </div>
        <div class="form sign-up">
            <h2>Cadastro</h2>
            <div class="desc">Preencha todos os campos corretamente</div>
            <input type="text" placeholder="Nome Completo" id="nomeCad" />
            <input type="email" placeholder="CPF" id="cpfCad" />
            <input type="email" placeholder="E-mail" id="emailCad" />
            <input type="password" placeholder="Senha" id="senhaCad" />
            <input type="password" placeholder="Confirmar senha" id="confirmaSenha" />
            <button type="button" class="submit" onclick="cadastrarUsuario()">Cadastrar</button>
        </div>
    </div>
</div>

