
@{
}

<div class="container_limit">
    <div class="card_dividido">
        <div class="div_content">
            <div id="profile">
            <div class="title">Olá, Amanda!</div>
            <div class="group_buttons">
                <div class="button_option" onclick="change_content()">
                        <div><i class="fa fa-pencil" aria-hidden="true"></i><p>Alterar dados</p></div><i class="fa-solid fa-chevron-right"></i>
                </div>
                <div class="button_option">
                        <div>
                            <i class="fa fa-bell-o" aria-hidden="true"></i><p>Meus pedidos</p>
                        </div><i class="fa-solid fa-chevron-right"></i>
                </div>
                <div class="button_option">
                            <div>
                            <i class="fa fa-arrow-left" aria-hidden="true"></i><p>Sair da conta</p>
                        </div><i class="fa-solid fa-chevron-right"></i>
                </div>
            </div>
        </div>
        <div id="edit_profile">
            <div class="header">
                <div class="title">Alterar dados</div>
                    <div class="button_back" onclick="back_content()"> <i class="fa fa-arrow-left" aria-hidden="true"></i></div>
            </div>
            <form>
                <div class="user-box">
                    <input type="text" name="" required="">
                    <label>Nome completo</label>
                </div>
                <div class="user-box">
                    <input type="text" name="" required="">
                    <label>CPF</label>
                </div>
                <div class="user-box">
                    <input type="text" name="" required="">
                    <label>E-mail</label>
                </div>
                <div class="user-box">
                    <input type="password" name="" required="">
                    <label>Password</label>
                </div>
                <div class="button">Alterar dados</div>
            </form>
        </div>
        </div>
        <div class="div_image"></div>
    </div>
</div>