<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - express</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" integrity="sha512-uKQ39gEGiyUJl4AI6L+ekBdGKpGw4xJ55+xyJG7YFlJokPNYegn9KwQ3P8A7aFQAUtUsAQHep+d/lrGqrbPIDQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <svg xmlns="http://www.w3.org/2000/svg" width="53" height="70" viewBox="0 0 53 70" fill="none">
                    <mask id="mask0_327_1226" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="53" height="70">
                        <path d="M0 0H52.8416V70H0V0Z" fill="white" />
                    </mask>
                    <g mask="url(#mask0_327_1226)">
                        <path d="M0.00585938 34.1316C0.00585938 30.5574 0.704578 27.0899 2.08185 23.824C3.41285 20.6709 5.31802 17.8393 7.74396 15.4086C10.1699 12.9767 12.9944 11.068 16.1405 9.7346C19.398 8.35259 22.8584 7.65268 26.4243 7.65268C29.059 7.65268 31.6522 8.0406 34.1458 8.80338L40.4165 0.467387C40.8056 -0.0510172 41.5411 -0.154223 42.0583 0.237249C42.5743 0.627535 42.6787 1.3654 42.2884 1.88262L25.6141 24.0506C25.5607 24.1218 25.499 24.1859 25.4338 24.2416C27.0969 26.1598 27.2583 29.0532 25.671 31.1612L22.5535 35.3072C20.7302 37.7308 17.2817 38.2148 14.864 36.3891C12.4464 34.5623 11.9624 31.1042 13.7857 28.6819C13.7999 28.6629 13.8153 28.6451 13.8308 28.6273C13.8438 28.6071 13.8569 28.587 13.8711 28.568L16.9044 24.5358C18.4905 22.4266 21.3091 21.7872 23.6081 22.8608C23.6425 22.7825 23.6876 22.7066 23.7409 22.6342L32.727 10.6896C30.6807 10.1379 28.5679 9.85916 26.4243 9.85916C13.0704 9.85916 2.20641 20.748 2.20641 34.1316C2.20641 41.4949 5.48647 48.3777 11.2055 53.0137C11.6777 53.3968 11.7512 54.092 11.368 54.5653C11.151 54.8346 10.833 54.9746 10.5127 54.9746C10.2684 54.9746 10.024 54.8951 9.82114 54.729C3.58249 49.6719 0.00585938 42.1651 0.00585938 34.1316ZM24.2249 42.3632C24.7742 41.6349 25.5737 41.1639 26.4777 41.037C26.6402 41.0144 26.8015 41.0026 26.9617 41.0026C27.6984 41.0026 28.4113 41.2398 29.0092 41.6918C29.7364 42.241 30.2062 43.043 30.3331 43.9493C30.46 44.8556 30.2275 45.7572 29.6795 46.4856C29.1314 47.2139 28.3318 47.6861 27.4267 47.813C26.5216 47.9399 25.6236 47.7074 24.8964 47.1582C24.1692 46.6089 23.6994 45.807 23.5725 44.9007C23.4456 43.9932 23.6769 43.0928 24.2249 42.3632ZM49.5971 46.858C51.7217 42.9777 52.8428 38.5849 52.8428 34.1316C52.8428 25.3449 48.5069 17.1489 41.2433 12.208C40.7403 11.8652 40.0559 11.9968 39.7142 12.501C39.3726 13.0052 39.5042 13.6908 40.0072 14.0325C46.6658 18.5629 50.641 26.0768 50.641 34.1316C50.641 38.3323 49.5532 42.4712 47.4962 46.1024C47.3752 46.3159 47.3289 46.565 47.3645 46.8082L49.7418 63.0401L35.9549 56.8216C35.6868 56.7006 35.3819 56.6923 35.1079 56.7979C32.3391 57.8643 29.4173 58.4053 26.4243 58.4053C23.792 58.4053 21.2213 57.9877 18.7598 57.1644L24.7173 49.2448C25.7612 49.73 26.9451 49.8629 28.0815 49.615C29.3212 49.3457 30.4244 48.6387 31.186 47.6244L38.4022 38.0321C38.7154 37.6157 38.6323 37.0214 38.2171 36.707C37.8019 36.3939 37.2088 36.4769 36.8956 36.8933L32.1196 43.2423C31.9144 42.3371 31.4767 41.5008 30.8479 40.8175L34.9216 35.4021C35.2348 34.9846 35.1518 34.3914 34.7366 34.0771C34.5349 33.9252 34.287 33.8612 34.0367 33.8956C33.7875 33.9312 33.5669 34.0616 33.4151 34.2621L29.3402 39.6787C28.5133 39.2611 27.5904 39.0689 26.6651 39.1211L31.4411 32.771C31.5929 32.5693 31.657 32.3202 31.6226 32.0699C31.587 31.8208 31.4565 31.5989 31.256 31.4471C31.0544 31.2952 30.8064 31.23 30.5573 31.2656C30.307 31.3 30.0864 31.4305 29.9345 31.6333L22.7184 41.2256C21.9556 42.2399 21.5807 43.4961 21.6638 44.7654C21.7385 45.928 22.1917 47.0336 22.945 47.9043L16.3433 56.6816C16.1333 56.7991 15.959 56.9865 15.8617 57.2273C15.8403 57.2807 15.8237 57.3341 15.8119 57.3887L7.79497 68.045C7.58381 68.3261 7.46875 68.6559 7.46875 68.975C7.46875 69.3203 7.60991 69.6251 7.85666 69.8114C8.02511 69.9383 8.22559 69.9988 8.43675 69.9988C8.83653 69.9988 9.26952 69.7805 9.56728 69.3843L17.3671 59.0139C20.2628 60.0744 23.3056 60.6118 26.4243 60.6118C29.5324 60.6118 32.5716 60.0768 35.4638 59.0198L50.6707 65.8789C50.8154 65.9441 50.9696 65.9761 51.1227 65.9761C51.3575 65.9761 51.5912 65.9002 51.7858 65.7531C52.1061 65.5099 52.2698 65.1113 52.2117 64.7127L49.5971 46.858Z" fill="#F25B0A" />
                    </g>
                </svg>
            </div>
           <div class="options">
                <div style="cursor: pointer" onclick="scrollToDiv('home');">Home</div>
                <div style="cursor: pointer" onclick="scrollToDiv('unidade');">Unidades</div>
                <div style="cursor: pointer" onclick="scrollToDiv('cardapio');">Cardápio</div>
           </div>
            <button onclick="window.location.href='Login/Index';">Entrar no Delivery</button>
        </nav>
    </header>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

   <div class="footer">
        <div class="first_half">
            <div>
                <div class="title">1000 EXPRESS</div>
                <div class="icons">

                </div>
            </div>
            <div>
                <div class="text">
                    Premiado em São Paulo
                </div>
                <div class="desc">Venha comer no nosso restaurante!</div>
            </div>
        </div>
        <div class="second_half">
            <div>
                <div class="link">Contato</div>
                <div class="link">Suporte</div>
            </div>
            <div>
                ©1000 Express     Todos os direitos reservados
            </div>
        </div>
    </div>

    <div class="fundo" id="fundo">
        <div class="popup" id="popup">
            <div class="button_close"><i class="fas fa-times" onclick="close_popup('fundo','popup')" style="cursor:pointer"></i></div>
            <div class="content">
            <div class="text">Nosso cardápio está disponível para consulta abaixo:</div>
            <div>
                <img src="~/src/cardapio.png"/>
                <div>
                    <strong>Cardápio 1000 EXPRESS</strong>
                        <button OnClick="abrirPDF()">Download</button>
                </div>
            </div>
            <div class="text">
                Caso for pedir por delivery, recomendamos acessar o cardápio
                pela plataforma para melhor experiência!
            </div>
            </div>
        </div>

    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
