<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - express</title>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js" integrity="sha512-uKQ39gEGiyUJl4AI6L+ekBdGKpGw4xJ55+xyJG7YFlJokPNYegn9KwQ3P8A7aFQAUtUsAQHep+d/lrGqrbPIDQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <header>
        @RenderSection("Navbar", required: false)
        
    </header>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <div class="fundo" id="fundo">
        <div class="popup" id="popup">
            <div class="button_close"><i class="fas fa-times" onclick="close_popup('fundo','popup')" style="cursor:pointer"></i></div>
            <div class="content">
            <div class="text">Nosso cardápio está disponível para consulta abaixo:</div>
            <div>
                <img src="~/src/cardapio.png"/>
                <div>
                    <strong>Cardápio 1000 EXPRESS</strong>
                        <button OnClick="abrirPDF()">Download</button>
                </div>
            </div>
            <div class="text">
                Caso for pedir por delivery, recomendamos acessar o cardápio
                pela plataforma para melhor experiência!
            </div>
            </div>
        </div>

    </div>


    <div class="footer">
        <div class="first_half">
            <div>
                <div class="title">1000 EXPRESS</div>
                <div class="icons">
                </div>
            </div>
            <div>
                <div class="text">
                    Premiado em São Paulo
                </div>
                <div class="desc">Venha comer no nosso restaurante!</div>
            </div>
        </div>
        <div class="second_half">
            <div>
                <div class="link">Contato</div>
                <div class="link">Suporte</div>
            </div>
            <div>
                ©1000 Express     Todos os direitos reservados
            </div>
        </div>
    </div>


    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
